<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"nocturne/hero"} /-->
	<!-- wp:pattern {"slug":"nocturne/logos"} /-->
	<!-- wp:pattern {"slug":"nocturne/features"} /-->
	<!-- wp:pattern {"slug":"nocturne/spotlight"} /-->
	<!-- wp:pattern {"slug":"nocturne/stats"} /-->
	<!-- wp:pattern {"slug":"nocturne/integrations"} /-->
	<!-- wp:pattern {"slug":"nocturne/testimonials"} /-->
	<!-- wp:pattern {"slug":"nocturne/pricing"} /-->
	<!-- wp:pattern {"slug":"nocturne/faq"} /-->
	<!-- wp:pattern {"slug":"nocturne/cta"} /-->
	<!-- wp:pattern {"slug":"nocturne/blog"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
